@model List<EventPlanner.Web.Models.EventVm>

<h2 class="mb-4">Events</h2>

<table class="table table-striped table-hover table-bordered align-middle">
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">Capacity</th>
        <th scope="col">Location Id</th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (var e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Title</td>
                <td>@e.Description</td>
                <td>@e.StartAtUtc.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@e.Capacity</td>
                <td>@e.LocationId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@e.Id">Edit</a>
                    <form asp-action="Delete" asp-route-id="@e.Id" method="post" style="display:inline">
                        <button class="btn btn-link p-0 ms-2">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-center text-muted">
                Нет событий для отображения
            </td>
        </tr>
    }
    </tbody>
</table>